# ============ Unity ============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Optional: AssetStore tools cache
[Aa]ssets/AssetStoreTools*

# Visual Studio / VSCode
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt
*.stackdump
